# git ignore file for septentrio repository

# ignore credentials
.git-credentials

# compiled python
*.pyc

# figures
*.png
*/*.png
*/*/*.png

# logs
*.log

# emacs temp files
*~

# Windows
Thumbs.db
*/Thumbs.db
*/*/Thumbs.db
